<nav class="main-nav">
	{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
	{{ if ne $url "" }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}

	{{ if ne $url "about/" }}
		<a href='{{ .Site.BaseURL }}page/about.html'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
	{{ end }}
		<!-- <a href='{{ .Site.BaseURL }}page/success-stories.html'>Success Stories</a> -->
		<a href='{{ .Site.BaseURL }}posts/2015/12-29-what-makes-elixir-so-attractive-for-some-developers.html'>Success Stories</a>



	{{ if .Site.Params.enableRSS }}
	<a class="cta" href="{{ .Site.BaseURL }}index.xml">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
	{{ end }}
</nav>
